<section id="sign-edit" class="wrapper">
  <div class="inner alt">
    <header class="major">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </header>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>
        <br />

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <br />

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <br />

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
        <br />

        <div class="actions">
          <%= f.submit "Update", :class => "button special" %>
        </div>
    <% end %>
  </div>
</section>
<section id="sign-edit" class="wrapper style2 special">
  <div class="inner alt">
    <header class="major">
      <h2>Cancel my account</h2>
      <p>Want to leave? Are you sure??<br />
        We will miss you so much. Hope to see you again.</p>
    </header>
    <ul class="actions">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "button special" %>
      <li><%= link_to 'Back to Main', root_path, method: :get, :class => "button icon fa-chevron-left" %></li>
    </ul>
  </div>
</section>