<!-- Header -->
<header id="header">
  <div class="content">
    <h1>Pofol</h1>
    <p>The best way to make your own portfolio!<br />
      We provide beautiful editor and community.</p>
    <ul class="actions">
      <li><%= link_to 'Make Pofol', new_post_path, method: :get, :class => "button special icon fa-pencil" %></li>
      <li><a href="#list" class="button icon fa-chevron-down scrolly">Have a look</a></li>
    </ul>
  </div>
  <div class="image phone"><div class="inner"><img src="<%= asset_path 'screen.jpg' %>" alt="" /></div></div>
</header>

<!-- List -->
<section id="list" class="wrapper">
  <div class="inner alt">
    <div class="table-wrapper">
      <header class="major">
        <h2>New Pofols</h2>
      </header>
      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>No.</th>
            <th>User</th>
            <th>Title</th>
            <th>Date</th>
            <th>Likes</th>
          </tr>
          </thead>
          <tbody>
          <% @posts.each do |x| %>
              <tr>
                <td><%= x.id %></td>
                <td><%= x.username %></td>
                <td><%= link_to x.title, post_path(x.id), method: :get %></td>
                <td><%= x.created_at.in_time_zone("Asia/Seoul").strftime("%Y.%m.%d (%H:%M)") %></td>
                <td><%= x.get_upvotes.size %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br />
</section>

<!-- Three -->
<section id="under" class="wrapper style2 special">
  <% if user_signed_in? %>
      <header class="major">
        <h2>Hello, <%= current_user.email %></h2>
        <p>Got some inspirations? Full of brilliant ideas?<br />
          lectus ultricies eu. In convallis amet leo sapien iaculis efficitur.</p>
      </header>
      <ul class="actions">
        <li><%= link_to 'My Page', mypage_path, method: :get, :class => "button special icon fa-user" %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "button icon fa-sign-out", data: { confirm: "Are you sure?" } %></li>
      </ul>
  <% end %>
</section>