<section id="mypage" class="wrapper style2 special">
  <div class="inner alt">
    <div class="table-wrapper">
      <header class="major">
        <h2>My Pofols</h2>
        <p>Hello, <%= current_user.email %>! Great day. <br />
          These are what you've written so far. Wonderful!</p>
      </header>
      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
            <% @post.each do |x| %>
              <% if x.username == current_user.email %>
              <tr>
                <td><%= x.id %></td>
                <td><%= link_to x.title, post_path(x.id), method: :get %></td>
                <td><%= x.created_at.in_time_zone("Asia/Seoul").strftime("%Y.%m.%d (%H:%M)") %></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <ul class="actions">
      <li><%= link_to 'Make Pofol', write_path, method: :get, :class => "button special icon fa-pencil" %></li>
      <li><%= link_to 'Back to Main', root_path, method: :get, :class => "button icon fa-chevron-left" %></li>
    </ul>
  </div>

</section>